{% extends "epost_mal.html.twig" %}

{% block title %}Velkommen til {{ omrade }}!{% endblock %}
{% block body %}
    <p>
        Du har akkurat blitt lagt til som administrator for {{ omrade }}.
        Du kan logge inn ved å gå til <a href="https://ukm.no/">ukm.no</a> 
        og velge "logg inn" i menyen (som du finner oppe til høyre).
    </p>

    <p>
        Ditt brukernavn er som vanlig: {{ brukernavn }}
    </p>

    <p>
        Skulle du ha noen spørsmål, så er vi her på 
        <a href="mailto:support@ukm.no">support@ukm.no</a>
    </p>

    <p>
        Ønsker deg en nydelig dag! ☀️
    </p>
{% endblock %}