{% extends "epost_mal.html.twig" %}

{% block title %}Administrator ble ikke tagget{% endblock %}
{% block body %}
    <p>
        Problemet m친 l칮ses s친 fort som mulig, da brukeren ikke f친r velkomst-epost f칮r dette er gjort.
    </p>

    <ol>
        <li>
            <a href="https://login.mailchimp.com/">Logg inn p친 Mailchimp</a>
        </li>
        <li>
            <a href="https://us1.admin.mailchimp.com/lists/members?id=1157991">Velg "Audience" i menyen, "UKM-arrang칮rer" fra lista, og trykk "View contacts"</a>
        </li>
        <li>   
            Trykk p친 s칮ke-ikonet
        </li>
        <li>
            S칮k opp denne e-postadressen: {{ epost }}, og s칮rg for at personen har f칮lgende tags:
            <ul>
                {% for tag in tags %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </li>
    </ol>

    <p>
        <small>
            Feilmelding fra systemet: <code>{{feilmelding}}</code>
        </small>
    </p>

    <p>
        Happy bugfix! 游냍
    </p>
{% endblock %}