{% extends "epost_mal.html.twig" %}

{% block title %}Administrator ble ikke tagget{% endblock %}
{% block body %}
    <p>
        Problemet m친 l칮ses s친 fort som mulig, da brukeren ikke f친r velkomst-epost f칮r dette er gjort.
    </p>

    <ol>
        <li>
            S칮rg for at du er <a href="https://login.mailchimp.com/">innlogget p친 Mailchimp</a>
        </li>
        <li>
            <a href="https://us1.admin.mailchimp.com/lists/members?id=1157991">Klikk her for 친 komme til lista</a>
            (eller velg "Audience" i menyen, "UKM-arrang칮rer" fra lista, og trykk "View contacts")
        </li>
        <li>   
            Trykk p친 s칮ke-ikonet
        </li>
        <li>
            S칮k opp denne e-postadressen: {{ epost }}, Trykk "View profile" og s칮rg for at personen har f칮lgende tags: {{tags_to_add}}
        </li>
        <li>
            Se gjennom "activity feed", p친 leting etter en 친rsak til hvorfor det kan ha g친tt feil, 
            og skriv inn dette som notat i supportsystemet.
            <br /> Typiske hendelser 친 lete etter: "Soft bounced", "Hard bounced", "Unsubscribed", eller lignende.
        </li>
    </ol>

    <p>
        <small>
            Feilmelding fra systemet: <code>{{feilmelding}}</code>
        </small>
    </p>

    <p>
        Happy bugfix! 游냍
    </p>
{% endblock %}